header {
	background: white;
	margin: 5%;
	padding: 0.1%;
}
body {
	background: grey;
}
div 	{
	background: white;
	margin: 5%;
	padding: 5%;	
}
div.menu 	{
		background: white;
	margin: 5%;
	padding: 5%;
}
nav 	{
	display: block;
}
li.block	{
	display: block;
}
ul.bl 	{
	display: table-row;
}
